@{
    ViewBag.Title = "Home Page";
}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/Content/assets/img/HelloJohn_Portrait_sized_copy2.png" alt="A caricature drawing of the website developer" />
        @* The above and below are the img for the masthead. I don't understand why, when you comment out the class, the pic doesn't show, but if its there or is completly deleted it does show. *@
        @*<img src="~/Content/assets/img/HelloJohn_Portrait_sized_copy2.png" alt="A caricature drawing of the website developer" />*@
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0 blackText">Welcome to my Portfolio website</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0 blackText">Full Stack Web Developer</p>
    </div>
</header>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase blackText">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto blackText"><p class="lead">Hi, I'm John. I like the different aspects of being a Software Engineer, but I love the problem solving the most. If you've come to my profile, I want you to hire me to help solve development problems that you might have at your company.</p></div>
            <div class="col-lg-4 mr-auto blackText"><p class="lead">I consider myself a self-taught developer, but my skills were honed at Centriq Training.</p></div>
        </div>
    </div>
</section>