
@{
    ViewBag.Title = "Links";
}
<br />
<br />
<br />
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase blackText">Links</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Links Section Content-->
        <div class="row blackText">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <img src="~/Content/assets/img/d-See.jpg" class="linksToClassmates" />
                    <p class="lead">You can find Dave See at <a href="http://davidsee.net" target="_blank">davidsee.net</a>.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <img src="~/Content/assets/img/t-toney.jpg" class="linksToClassmates" />
                    <p class="lead">You can find Tessa Toney at <a href="http://tessatoney.com" target="_blank">tessatoney.com/</a>.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <img src="~/Content/assets/img/s-pearson1.jpg" class="linksToClassmates" />
                    <p class="lead">You can find Spencer at <a href="http://spencerpearson.net" target="_blank">spencerpearson.net</a>.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 mr-auto">
                    <img src="~/Content/assets/img/m-bell.JPG" class="linksToClassmates" />
                    <p class="lead">You can find Michael at <a href="http://mbelldevelops.com" target="_blank">mbelldevelops.com</a>.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    @* TODO Need to find Isaac's website *@
                    @*www.isaacbeck.net*@
                    <img src="~/Content/assets/img/isaac.jfif" class="linksToClassmates" />
                    <p class="lead">You can find Isaac at <a href="www.isaacbeck.net" target="_blank">www.isaacbeck.net</a>.</p>
                </div>
            </div>

        </div>
    </div>
</section>
