
@{
    ViewBag.Title = "Portfolio";
}
<br />
<br />
<br />
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    @*<div class="container">*@
    <div class="myContainer">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item Final Project -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal7">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/assets/img/finalProjectAvi.jpg" alt="A fancy chess board" style="border:1px solid black" />
                </div>
            </div>
            <!-- Portfolio Item Redside KC-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/assets/img/residekc_logo_200.png" alt="" />
                </div>
            </div>
            <!-- Portfolio Item Dungeon App-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/assets/img/boat.jpg" alt="" />
                </div>
            </div>
            <!-- Portfolio Item Storefront -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/assets/img/storefrontChess.jfif" alt="A fancy chess board" />
                </div>
            </div>
            <!-- Portfolio Item ALD Map -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/assets/img/mapcodepen526.jpg" alt="" />
                </div>
            </div>

            <!-- Portfolio Item React Form -->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/assets/img/business.jpg" alt="" />
                </div>
            </div>

            <!-- Portfolio Item FED -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/assets/img/genericPizzaLogoBlue.jpg" alt="" />
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Portfolio Modals-->
<!-- Portfolio Modal ResideKC-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">ResideKC</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <!--<div class="row modal-row-doubles">-->
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <img class="img-fluid rounded mb-5" src="~/Content/assets/img/residekc_logo_200.png" alt="The phrase Reside K C and some teal and orange design around it." />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="accordion">
                                        <h4>Project Description</h4>
                                        <div>
                                            <p>This is a project I worked on as part of a group in an organization called Code for KC.</p>
                                        </div>
                                        <h4>What I Like about this project</h4>
                                        <div>
                                            <p>This project honed a lot of my React skills and let me work on a development project as part of a group for the first time.</p>
                                        </div>
                                        <h4>What I don't like about this project</h4>
                                        <div>
                                            <p>People came and went, and I was really the only one who stayed throughout. Some people that left did invaluable work on this project, but that resulted in code that I couldn't necessary explain to newcomers. And after a certain amount of time it was very difficult to get anyone new on this project, I ended up being the only one on it for the last few months.</p>
                                        </div>
                                        <h4>Links</h4>
                                        <div>
                                            <p>
                                                The Github repository: <a href="https://github.com/codeforkansascity/ResideKC/" target="_blank">https://github.com/codeforkansascity/ResideKC/</a><br />
                                                A link where you can try it out: <a href="http://codeforkc.org/ResideKC/" target="_blank">http://codeforkc.org/ResideKC/</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal ALD Map-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal3Label">Adjuster Liceninsing Map</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <div class="row" @*class="modal-row-doubles"*@>
                                <div class="col-md-6 col-sm-12">
                                    <img class="img-fluid rounded mb-5" src="~/Content/assets/img/mapcodepen526.jpg" alt="A map of the United States where Texas is purple and every other state is grey." />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="accordion">
                                        <h4>Project Description</h4>
                                        <div>
                                            <p>This is project that I started on my own to build out my portfolio.</p>
                                        </div>
                                        <h4>What I Like about this project</h4>
                                        <div>
                                            <p>This project showcases my skill in jQuery and D3.</p>
                                        </div>
                                        <h4>What I don't like about this project</h4>
                                        <div>
                                            <p>When you are self-taught, there are weird gaps in your coding knowledge. I wish I knew what a switch was before I did this many if/else statements.</p>
                                        </div>
                                        <h4>Links</h4>
                                        <div>
                                            <p>
                                                The Codepen.io: <a href="https://codepen.io/Swiftyfast/pen/xXbbXd" target="_blank">https://codepen.io/Swiftyfast/pen/xXbbXd</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal Dungeon App -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal4Label">Dungeon Application</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <div class="row">
                                @*  @*modal-row-doubles *@
                                <!--<div class="row">-->
                                <div class="col-md-6 col-sm-12">
                                    <img class="img-fluid rounded mb-5" src="~/Content/assets/img/boat.jpg" alt="An old wooden ships wheel." />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="accordion">
                                        <h4>Project Description</h4>
                                        <div>
                                            <p>A C# console application where you captain an airship and hunt sky pirates.</p>
                                        </div>
                                        <h4>What I Like about this project</h4>
                                        <div>
                                            <p>This project is all C#, a language that I didn't know at all one week before starting this application. It also showcases my creativity in coming up with a theme for a game.</p>
                                        </div>
                                        <h4>What I don't like about this project</h4>
                                        <div>
                                            <p>I bit off more than I could chew with the math in the combat system, got frustrated and had to scale it back. Some of the classes, while functional, aren't organized in an optimal fashion in the code.</p>
                                        </div>
                                        <h4>Links</h4>
                                        <div>
                                            <p>The Github repository: <a href="https://github.com/Swiftyfast/DungeonApp" target="_blank">https://github.com/Swiftyfast/DungeonApp</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 1 FED 1 studio project -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Centriq Front End Development Project</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            @*<div class="row modal-row-doubles">*@
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <img class="img-fluid rounded mb-5" src="~/Content/assets/img/genericPizzaLogoBlue.jpg" alt="A slice of pizza with the word pizza. Both are blue on a black background." />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="accordion">
                                        <h4>Project Description</h4>
                                        <div>
                                            <p>This is a project that we created at Centriq that uses many different HTML and CSS elements.</p>
                                        </div>
                                        <h4>What I Like about this project</h4>
                                        <div>
                                            <p>This showcases some of the knowledge I have regarding HTML and CSS. It uses a variety of elements that I might normally use, bu it's good to show that I have them in my toolbox.</p>
                                        </div>
                                        <h4>What I don't like about this project</h4>
                                        <div>
                                            <p>In an effort to get as many different HTML and CSS elements into this project, the result has prioritized unnecessary elements over UI design.</p>
                                        </div>
                                        <h4>Links</h4>
                                        <div>
                                            <p>The Github repository: <a href="https://github.com/Swiftyfast/FED1StudioProject" target="_blank">https://github.com/Swiftyfast/FED1StudioProject</a> and click <a href="http://fed1studio.johndavidswift.com/" target="_blank">HERE</a> to see the project itself.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Close Window
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal React Business Form-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="myContainer">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal5Label">React Billing Form</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            @*<div class="row modal-row-doubles">*@
                            <div class="row">
                                <!-- Portfolio Modal - Image-->
                                <div class="col-md-6 col-sm-12">
                                    <img class="img-fluid rounded mb-5" src="~/Content/assets/img/business.jpg" alt="A newspaper that says 'business' on it." />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="accordion">
                                        <h4>Project Description</h4>
                                        <div>
                                            <p>A React application that works as an invoice application that a company I interviewed with gave me one week to do as a coding test.</p>
                                        </div>
                                        <h4>What I Like about this project</h4>
                                        <div>
                                            <p>This is a showcase of what I can do on a constrained schedule with React</p>
                                        </div>
                                        <h4>What I don't like about this project</h4>
                                        <div>
                                            <p>I think if the company that had me do this hired me, there isn't anything I wouldn't like about this. Alas, it was not meant to be, and the main thing I don't like is it reminds me of  not getting a job.</p>
                                        </div>
                                        <h4>Links</h4>
                                        <div>
                                            <p>The Github repository: <a href="https://github.com/Swiftyfast/ExpenseReports" target="_blank">https://github.com/Swiftyfast/ExpenseReports</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal Storefront -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal6Label">Board Game Storefront</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <img class="img-fluid rounded mb-5" src="~/Content/assets/img/storefrontChess.jfif" alt="" />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="accordion">
                                        <h4>Project Description</h4>
                                        <div>
                                            <p>A Full MVC project that incorporates front-end, middle-tier, and back-end databases.</p>
                                        </div>
                                        <h4>What I Like about this project</h4>
                                        <div>
                                            <p>This is a showcase of all of my aquired skills in MVC.</p>
                                        </div>
                                        <h4>What I don't like about this project</h4>
                                        <div>
                                            <p>I made completion of the project itinerary a priority, and didn't spend as much time personalizing this project.</p>
                                        </div>
                                        <h4>Links</h4>
                                        <div>
                                            <p>The Github repository: <a href="https://github.com/Swiftyfast/BoardGameStorefront" target="_blank">https://github.com/Swiftyfast/BoardGameStorefront</a>. You can also see the project by clicking <a href="http://storefront.johndavidswift.com" target="_blank">HERE</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio LMS Final Project-->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-labelledby="portfolioModal7Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close modalCloseButton" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal6Label">Learning Management System</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <img class="img-fluid rounded mb-5" src="~/Content/assets/img/finalProjectAvi.jpg" alt="" style="border:1px solid black" />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="accordion">
                                        <h4>Project Description</h4>
                                        <div>
                                            <p>A Fullstack application that serves as an internal continuing education tacker for a company.</p>
                                        </div>
                                        <h4>What I Like about this project</h4>
                                        <div>
                                            <p>Everything. This was our final project at Centriq and I thought it went great. It shows off a number of skills, and I couldn't be happier with the final product.</p>
                                        </div>
                                        <h4>What I don't like about this project</h4>
                                        <div>
                                            <p>As it is an internal application, you don't get much functionality as an anonymous user.</p>
                                        </div>
                                        <h4>Links</h4>
                                        <div>
                                            <p>The Github repository: <a href="https://github.com/Swiftyfast/LMSProject" target="_blank">https://github.com/Swiftyfast/BoardGameStorefront</a>. You can also see the project by clicking <a href="http://fsdp.johndavidswift.com/" target="_blank">HERE</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Portfolio Modal - Text-->
                            @*<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>*@
                            <br />
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>*@


@Scripts.Render("~/Content/assets/mail/accordian.js")