
@{
    ViewBag.Title = "Resume";
}

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>John Swift</h4>
                    <p><em>Innovative and deadline-driven Web Developer</em></p>
                    <ul>
                        <li>Greater Kansas City, MO</li>
                        <li>(913) 488-9388</li>
                        <li>johnd.swift@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Technical Skills</h3>
                <div class="resume-item">
                    <h6>Front End</h6>
                    <p>
                        HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS, D3
                    </p>
                    <h6>Middle Tier</h6>
                    <p>
                        Visual Studio, C#.Net, ASP.NET, LINQ, MVC, EF
                    </p>
                    <h6>Back End</h6>
                    <p>
                        ADO.NET, SQL, SQL Server, SSMSE, Node.js
                    </p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Full Stack Development</h4>
                    <h5>2020 - 2021</h5>
                    <p><em>Centriq Training, Kansas City, MO</em></p>
                    <p>A Full stack development boot camp that covered front-end development (HTML, CSS, JavaScript, jQuery), mid-tier development (C#, JavaScript, jQuery), back-end and databases, and version control (Github).</p>
                </div>
                <div class="resume-item">
                    <h4>Front End Development</h4>
                    <h5>2016 - 2020</h5>
                    <p><em>Free Code Camp</em></p>
                    <p>A self-teaching webservice that covered front-end development (HTML, CSS, JavaScript), javaScript libraries (D3, jQuery, React), Mid-tier (C#), back-end (Sequel, node.js, some Mongo) and version control (Git, Github)</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Adjuster Licensing Analyst</h4>
                    <h5>2015-2016</h5>
                    <p><em>AIG, Olathe, KS </em></p>
                    <ul>
                        <li>Handled applications, renewals, and continuing education for 2,000 adjusters.</li>
                        <li>Lead company wide training program course going over the basics of licensing.</li>
                        <li>Dealt with and was primary contact for the Department of Insurance for four states.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>School Age Substitute</h4>
                    <h5>2012-2015</h5>
                    <p><em>Johnson County Parks and Recreation, Johnson County, KS</em></p>
                    <ul>
                        <li>Directed After school programs for school-age children; managed the hiring of staff; communicated with upset customers and was able to retain their business.</li>
                        <li>Planned activities, communicated with WRS, handled fee payments, and was knowledgeable with staff, children and parents at over 20 sites.</li>
                    </ul>
                </div>
                <h3 class="resume-title">Volunteer Technical Experience</h3>
                <h4>Code for KC</h4>
                <p><em>Kansas City, MO</em></p>
                <p>Volunteered on a group project with local group Code for Kansas City, where we used javaScript, ReactJS, and Node.js along with our APIs.</p>
            </div>
        </div>
        <br />
        <div class="myCenterText">
            <a href="@Url.Content("~/Content/John_Swift_Resume.pdf")">Downloadable Resume</a>
        </div>
        <br />
    </div>
</section><!-- End Resume Section -->