footer, nav {
    display: block;
}

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
    background-image: linear-gradient(#1abc9c, #FFFFFF);
}

    .masthead .masthead-heading {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }

    .masthead .masthead-subheading {
        font-size: 1.25rem;
    }

    .masthead .masthead-avatar {
        width: 15rem;
    }

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .divider-custom .divider-custom-line {
        width: 100%;
        max-width: 7rem;
        height: 0.25rem;
        background-color: #2c3e50;
        border-radius: 1rem;
        border-color: #2c3e50 !important;
    }

        .divider-custom .divider-custom-line:first-child {
            margin-right: 1rem;
        }

        .divider-custom .divider-custom-line:last-child {
            margin-left: 1rem;
        }

    .divider-custom .divider-custom-icon {
        color: #2c3e50 !important;
        font-size: 2rem;
    }

    .divider-custom.divider-light .divider-custom-line {
        background-color: #000000;
    }

    .divider-custom.divider-light .divider-custom-icon {
        color: #000000 !important;
    }

.blackText {
    color: black !important;
}

.page-section {
    padding: 6rem 0;
}

    .page-section .page-section-heading {
        font-size: 2.25rem;
        line-height: 2rem;
    }

.bg-primary {
    background: linear-gradient(#FFFFFF, #1abc9c);
}

.myTextContainer {
    margin: .5em;
    text-align: center;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}

.copyright {
    background-color: #1a252f;
}

.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
}

    a:hover {
        color: #117964;
        text-decoration: underline;
    }

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    background-color: #2c3e50 !important;
}

    #mainNav .navbar-brand {
        color: #fff;
    }

    #mainNav .navbar-nav {
        margin-top: 1rem;
    }

        #mainNav .navbar-nav li.nav-item a.nav-link {
            color: #fff;
        }

            #mainNav .navbar-nav li.nav-item a.nav-link:hover {
                color: #1abc9c;
            }

            #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
                color: #fff;
            }

            #mainNav .navbar-nav li.nav-item a.nav-link.active {
                color: #1abc9c;
            }

    #mainNav .navbar-toggler {
        font-size: 80%;
        padding: 0.8rem;
    }


* This is Hamburger menu stuff*/
.hamburger-pull-right {
    font-weight: bold;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    display: none;
}
/*Messing with these numbers doesnt help with anything under ~982px*/
/*@media screen and (max-width: 1000px) and (min-width: 400px) {*/
    /*originaly:*/
     @media screen and (max-width: 1000px){ 
    nav ul#navbarResponsive {
        display: none;
    }

    nav a.pull-right {
        display: inline-block;
    }

    nav ul#navbarResponsive.expandedClass {
        float: none;
        clear: both;
        display: block;
    }

        nav ul#navbarResponsive.expandedClass li {
            display: block;
        }

            nav ul#navbarResponsive.expandedClass li a {
                display: block;
                text-align: center;
                font-size: 1em;
            }

    nav li.dropdown ul.dropdown-menu {
        width: 50%;
        float: none;
        margin: auto;
        position: static;
    }
}

.myPrimary{
    background-color: #159a80;
    color: #ffffff;
}

.myContainer {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.myContainer-fluid, .myContainer-xl, .myContainer-lg, .myContainer-md, .myContainer-sm {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

/*This is for trying to get the modal row a certain height*/
/*I think I removed all of them though*/
.modal-row-doubles {
    flex-flow: row nowrap;
}

.img-fluid-three {
    height: 100%;
    width: auto;
    /*max-width: 100%;
    height: auto;*/
}

.linksToClassmates {
    max-width: 16em;
    max-height: 16em;
    border: .2em black solid;
    /*border-radius: 8em;*/
    border-radius: 50%;
}

.myCenterText {
    text-align: center;
}

    .myCenterText a {
        color: black;
        font-size: larger;
        padding: .75em;
        border: 1px solid black
    }

portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
}

    .portfolio .portfolio-item .portfolio-item-caption:hover {
        opacity: 1;
    }

    .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
        font-size: 1.5rem;
    }

.portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
}

.mySecondaryText {
    color: #2c3e50 !important;
    font-weight: 700;
}

/*.modalCloseButton {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}*/

.myCloseBtn {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1E966A;
}

    /* Type 2 colors */
    .myCloseBtn.focus, .myCloseBtn:focus {
        color: #fff;
        background-color: #0F4A34;
        border-color: #69D2AC;
    }

    /* Type 3 colors*/
    .myCloseBtn:hover {
        color: #fff;
        background-color: #1E966A;
        border-color: #254A3C;
    }

    /* Type 3 colors*/
    .myCloseBtn.active, .myCloseBtn:active, .open > .dropdown-toggle.myCloseBtn {
        color: #fff;
        background-color: #1E966A;
        border-color: #254A3C;
    }

        /* Type 2 colors */
        .myCloseBtn.active.focus, .myCloseBtn.active:focus, .myCloseBtn.active:hover, .myCloseBtn:active.focus, .myCloseBtn:active:focus, .myCloseBtn:active:hover, .open > .dropdown-toggle.myPrimmyCloseBtn.focus, .open > .dropdown-toggle.myCloseBtn:focus, .open > .dropdown-toggle.myCloseBtn:hover {
            color: #fff;
            background-color: #0F4A34;
            border-color: #69D2AC;
        }

    /*Type 1 colors*/
    .myCloseBtn.disabled.focus, .myCloseBtn.disabled:focus, .myCloseBtn.disabled:hover, .myCloseBtn[disabled].focus, .myCloseBtn[disabled]:focus, .myCloseBtn[disabled]:hover, fieldset[disabled] .myCloseBtn.focus, fieldset[disabled] .myCloseBtn:focus, fieldset[disabled] .myCloseBtn:hover {
        background-color: #1abc9c;
        border-color: #1E966A;
    }

    /*Type 1 colors Note the reversal*/
    .myCloseBtn .badge {
        color: #1abc9c;
        background-color: #fff
    }

.portfolio-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #1abc9c;
    opacity: 1;
}